@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Lobster&display=swap');
.content {
	background-color: #99d6ff;
	width: 1200px;
	margin: 0 auto;
}
.row {
	display: flex;
}
.row .box {
	margin: 10px;
	padding: 10px;
	width: 100px;
	background-color: red;
	border-radius: 10px;
}
.col-1 {
	flex-grow: 1;
}
.col-3 {
	flex-grow: 3;
}
h1 {
	text-align: center;
	font-family: 'Lobster', cursive;
}
.box p {
	font-family: 'Lobster', cursive;
}